<div class="card shadow mb-12">
  <div class="card-header py-3">
    <input placeholder="Pesquisar" class="form-control" name="pesquisar" [(ngModel)]="f" required />
  </div>
  <div class="card-body">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 210px;" scope="col">Aluno</th>
            <th scope="col">Descricao</th>
            <th style="width: 50px;" scope="col">Acões</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of obterOcorrencia()">
            <td >{{item.nomeAluno}}</td>
            <td>{{item.descricao}}</td>

            <td>
              <a *ngIf="mostrar" (click)="detalhes(item.alunoConselhoId)"  class="btn btn-outline-success"> <i
                  class="fas fa-edit"></i></a>
            </td>

          </tr>


        </tbody>


      </table>

  </div>
</div>
